*
!/.gitignore

# .emacs.d/elpa/* only
!/.emacs.d/
!/.emacs.d/*
!/.emacs.d/*/*
!/.emacs

# bash
!/.bashrc
!/.profile
!/.bash_aliases

!/.gitconfig

# tmux
!/.tmux.conf

# vim
!/.vimrc

!/.gcp
!/.androidstudio
!/.kubernetes

!/.eslintrc.json
!/.tslint.json
!/.jshintrc

!README.md

!/.fonts
!/.fonts/*
!/.fonts/*/*

# linux
!/.xinputrc
!/.nanorc
